.exercise {
  color: green;
  border: 0.0625rem solid red;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.1875rem;
}
.exercise-title, .exercise-subtitle {
  border-bottom: 0.0625rem solid blue;
}
.exercise-subtitle {
  padding: 1rem;
  border: 0.0625rem solid red;
}
.exercise-articles {
  display: flex;
  border: none;
  flex-direction: row;
}
.exercise-article {
  color: blue;
  border: 0.0625rem solid green;
  font-size: 1.2rem;
  text-align: center;
  padding: 1.5rem 1rem;
}
.exercise-article:nth-child(2n) {
  color: red;
}
.exercise-numbers {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.exercise-numbers div:nth-child(1) {
  color: #0d0d0d;
  background-color: #f2f2f2;
}
.exercise-numbers div:nth-child(2) {
  color: #1a1a1a;
  background-color: #e6e6e6;
}
.exercise-numbers div:nth-child(3) {
  color: #262626;
  background-color: #d9d9d9;
}
.exercise-numbers div:nth-child(4) {
  color: #333333;
  background-color: #cccccc;
}
.exercise-numbers div:nth-child(5) {
  color: #404040;
  background-color: #bfbfbf;
}
.exercise-numbers div:nth-child(6) {
  color: #4d4d4d;
  background-color: #b3b3b3;
}
.exercise-numbers div:nth-child(7) {
  color: #595959;
  background-color: #a6a6a6;
}
.exercise-numbers div:nth-child(8) {
  color: #666666;
  background-color: #999999;
}
.exercise-numbers div:nth-child(9) {
  color: #737373;
  background-color: #8c8c8c;
}
.exercise-numbers div:nth-child(10) {
  color: gray;
  background-color: gray;
  color: red;
  background-color: blue;
}
.exercise-numbers div:nth-child(11) {
  color: #8c8c8c;
  background-color: #737373;
}
.exercise-numbers div:nth-child(12) {
  color: #999999;
  background-color: #666666;
}
.exercise-numbers div:nth-child(13) {
  color: #a6a6a6;
  background-color: #595959;
}
.exercise-numbers div:nth-child(14) {
  color: #b3b3b3;
  background-color: #4d4d4d;
}
.exercise-numbers div:nth-child(15) {
  color: #bfbfbf;
  background-color: #404040;
}
.exercise-numbers div:nth-child(16) {
  color: #cccccc;
  background-color: #333333;
}
.exercise-numbers div:nth-child(17) {
  color: #d9d9d9;
  background-color: #262626;
}
.exercise-numbers div:nth-child(18) {
  color: #e6e6e6;
  background-color: #1a1a1a;
}
.exercise-numbers div:nth-child(19) {
  color: #f2f2f2;
  background-color: #0d0d0d;
}
.exercise-numbers div:nth-child(20) {
  color: white;
  background-color: black;
}
.exercise-numbers div {
  display: flex;
  margin-top: 1rem;
  width: 3.25rem;
  height: 3.25rem;
  border: 0.125rem solid red;
}
.exercise-numbers .fs-1rem {
  font-size: 1.1875rem;
  align-items: flex-start;
}
.exercise-numbers .fs-2rem {
  font-size: 2.1875rem;
  align-items: flex-start;
}
.exercise-numbers .fs-3rem {
  font-size: 3.1875rem;
  line-height: 1.4;
}
.exercise-paragraph {
  color: green;
  border: 0.0625rem solid blue;
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem 2.5rem;
  margin-top: 1rem;
}

/*# sourceMappingURL=style.css.map */
