* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #c4c4c4;
    float: left;
    width: 20rem;
    padding: 1rem 2rem;

    height: 100vh;
}

nav h1 {
    background-color: #eeeeee;
    text-align: center;
    border-radius: 0.3rem;
    padding: 1rem;
}

main header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #eeeeee;
}

main input {
    background-color: #c4c4c4;
    border-radius: 0.4rem;
    border: none;
    padding: 0.5rem;
}

main input::placeholder {
    color: grey;
}

main button {
    background-color: #c4c4c4;
    border-radius: 0.4rem;
    font-weight: 500;
    padding: 0.5rem;
    border: none;
    color: black;
}

.bottom {
    position: absolute;
    float: right;
    top: 44rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    border: none;
}

.open-nav {
    display: none;
}

@media (max-width: 750px) {
    nav {
        display: none;
    }

    main input {
        display: none;
    }

    .open-nav {
        display: block;
        width: 4rem;
        height: 2rem;
        background: #c4c4c4;
    }
}