@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*
{
    margin      : 0;
    font-family : 'Inter', sans-serif;
}

body
{
    display         : flex;
    align-items     : center;
    justify-content : center;
    padding-top     : 2rem;
}

.cards
{
    display               : grid;
    align-items           : center;
    grid-template-columns : repeat(3, 30%);
    gap                   : 1.8rem;
}

.card
{
    display          : flex;
    overflow         : hidden;
    flex-direction   : column;
    width            : 20rem;
    border-radius    : 1rem;
    background-color : #E7E7E7;
    box-shadow       : 0 1px 6px rgba(68, 68, 68, 0.4);
}

.card__header
{
    display          : flex;
    align-items      : center;
    justify-content  : space-between;
    padding          : 0.3em 0.5em;
    background-color : #B4B4B4;
}

.card__user-info
{
    display     : flex;
    align-items : center;
    width       : 70%;
}

.card__user-info img
{
    width         : 2.5rem;
    height        : 2.5rem;
    border-radius : 4rem;
}

.card__user-info > div
{
    display        : flex;
    flex-direction : column;
    margin-left    : 1em;
    font-size      : 0.7em;
}

.card__user-info > div > h3
{
    font-size   : 1.4em;
    font-weight : 300;
}

.card__user-info > div > p
{
    color : #D3D3D3;
}

.fa-ellipsis
{
    font-size : 1.5em;
}

.card__actions
{
    display        : flex;
    padding        : 1em 1.5em;
    padding-bottom : 0.5em;
}

.card__actions i
{
    margin-right : 0.7em;
    font-size    : 1.1em;
    color        : #3A3F48;
}

.card__context
{
    margin-bottom : 2.5rem;
    padding       : 0 0.8em;
}

.card__context span
{
    font-weight : 600;
}

.card__context p
{
    font-size : 0.8rem;
}

@media (max-width : 768px)
{
    .cards
    {
        grid-template-columns : repeat(2, 1fr);
        grid-template-rows    : repeat(2, 1fr);
    }
}

@media (max-width : 375px)
{
    .cards
    {
        justify-content       : center;
        grid-template-columns : 1fr;
        grid-template-rows    : repeat(3, 1fr);
    }
}