* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100vh;
    width: 100%;
}

.test {
    width: 80%;
}

nav{
    height: 100%;
    width:20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
    align-items: center;
    background-color: #cccccc;
    float: left;
}

nav > div {
    background-color: lightblue;
    width: 10rem;
    height: 4rem;
}

header {
    width: 100%;
    height: 5rem;
    background-color: antiquewhite;
    position: relative;
}

header button {
    width: 3rem;
    height: 3rem;
    background-color: #cccccc;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    position: absolute;
    right: 1%;
    top: 20%;
}

.main-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body {
    width: 60%;
    height: 20rem;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.test h1 {
    display: none;
}

@media (max-width: 950px) {
    nav {
        display: none;
    }

    header {
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    .test {
        width: 100%;
    }

    .main-content {
        align-items: start;
    }

    .main-body {
        width: 100%;

    }

    .test h1 {
        background-color: blue;
        width: 10rem;
        height: 3rem;
        display: block;
    }
}